@model  IEnumerable<string[]>
@{
    ViewBag.Title = "Danh sách sinh viên thi theo môn theo phòng";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_DataTable.Lib")
@Html.Partial("_DataTable.Printer.Lib")

@using (Html.BeginForm("StudentsOfRooms", "CalendarResults", FormMethod.Post, new { @id = "FilterForm" }))
{
    <p>
        <p>
            Môn học:  @Html.TextBox("MonHoc", ViewBag.SearchString as string, new { id = "txtSubjectID" })
            Phòng:  @Html.DropDownList("Phong", ViewBag.Phong as SelectList, Mvc_ESM.Settings.Page.Settings.SelectAllString, new { id = "PhongList" })
            Ca:  @Html.DropDownList("Ca", ViewBag.Shifts as SelectList, Mvc_ESM.Settings.Page.Settings.SelectAllString, new { id = "ShiftsList" })
            @*<input type="submit" value="Thực hiện" />*@
            <button id="Submit" type="submit">Thực hiện</button>
        </p>
    </p>
}

@*<button id="PrintAll">In tất cả</button>*@
@using (Html.BeginForm("Report", "CalendarResults"))
{
    <input id="Report" type="submit" value="Report" />
}

<table id="table">
    <thead>
        <tr>
            <th>Mã sinh viên
            </th>
            <th>Họ
            </th>
            <th>Tên
            </th>
            <th>Ngày Sinh
            </th>
            <th>Lớp
            </th>
            <th>Ghi chú</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@Html.ActionLink(m[0], "StudentSchedule", "CalendarResults", new { SearchString = m[0] }, null)</td>
                <td>@m[1]</td>
                <td>@m[2]</td>
                <td>@m[3]</td>
                <td>@m[4]</td>
                <td>@m[5]</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('#ListPrint:visible');
        var oTable = $('#table').dataTable({
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [0] },
                { "bSortable": false, "aTargets": [1] },
                { "bSortable": false, "aTargets": [2] },
                { "bSortable": false, "aTargets": [3] },
                { "bSortable": false, "aTargets": [4] }
            ], // không hiện nút sắp xếp!
            "aaSorting": [[2, 'asc']], //Xếp cột thứ 3
            "bStateSave": true,
            @Html.Partial("_DataTable.Printer")
           @Html.Partial("_DataTable")
        });
        new FixedHeader(oTable);

        $("#txtSubjectID").change(function () {
            var idSubject = $(this).val();
            $.getJSON("/Services/LoadRoomsBySubjectID", { SubjectID: idSubject },
            function (Data) {
                var select = $("#PhongList");
                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "@Mvc_ESM.Settings.Page.Settings.SelectAllString"
                }));
                $.each(Data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
                var select = $("#ShiftsList");
                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "@Mvc_ESM.Settings.Page.Settings.SelectAllString"
                }));
            });
        });

        $("#PhongList").change(function () {
            var idSubject = $("#txtSubjectID").val();
            var id = $(this).val();
            $.getJSON("/Services/LoadShiftsByRoomID", { SubjectID: idSubject, RoomID: id },
            function (Data) {
                var select = $("#ShiftsList");
                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "@Mvc_ESM.Settings.Page.Settings.SelectAllString"
                }));
                $.each(Data, function (index, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        });
    });

</script>
<script>

    //$('#PrintAll').button().click(function () {
    //    var $text = "";
    //    var sophong = 0;
    //    $.ajax({
    //        url: "/Services/GetSubjectsID",
    //        dataType: 'json',
    //        data: "",
    //        async: false,
    //        success: function (DataSB) {
    //            $.each(DataSB, function (indexSB, itemSubject) {
    //                $.ajax({
    //                    url: "/Services/GetShiftsID",
    //                    dataType: 'json',
    //                    data: "SubjectID=" + itemSubject.MaMonHoc,
    //                    async: false,
    //                    success: function (DataS) {
    //                        $.each(DataS, function (indexS, itemShift) {

    //                            $.ajax({
    //                                url: "/Services/GetRoomsID",
    //                                dataType: 'json',
    //                                data: "SubjectID=" + itemSubject.MaMonHoc + "&ShiftID=" + itemShift.MaCa,
    //                                async: false,
    //                                success: function (DataR) {
    //                                    $.each(DataR, function (indexR, itemRoom) {
    //                                        //    $('#info').html('Mã môn học: 1991030');
    //                                        $text += 'Mã môn học: ' + itemSubject.MaMonHoc + '. Phòng: ' + itemRoom.MaPhong;
    //                                        //        $text += 'Mã môn học: 1991030. Phòng: A209' ;
    //                                        //         sophong++;
    //                                        $text += "<table><thead><tr><th>Mã Sinh viên</th><th>Họ</th><th>Tên</th><th>Lớp</th></tr></thead><tbody>";
    //                                        $.ajax({
    //                                            url: "/Services/GetStudents",
    //                                            dataType: 'json',
    //                                            data: "SubjectID=" + itemSubject.MaMonHoc + "&ShiftID=" + itemShift.MaCa + "&RoomID=" + itemRoom.MaPhong,
    //                                            //      data: "SubjectID=1991030&ShiftID=188&RoomID=A209",
    //                                            async: false,
    //                                            success: function (DataStu) {
    //                                                $.each(DataStu, function (indexStu, itemStudent) {
    //                                                    $text += "<tr><td>" + itemStudent.MSSV + "</td><td>" + itemStudent.Ho + "</td><td>" + itemStudent.Ten + "</td><td>" + itemStudent.Lop + "</td></tr>";
    //                                                });
    //                                            }
    //                                        });
    //                                        $text += "</tbody></table>";
    //                                        /*if (sophong == 1000) {
    //                                            $('#danhsach').empty();
    //                                            $('#danhsach').append($text);
    //                                            $('div#ListPrint').printElement({ overrideElementCSS: ['/Content/print_table.css'] });
    //                                            $('#ListPrint').hide();
    //                                            sophong = 0;
    //                                        }*/
    //                                    });
    //                                }
    //                            });
    //                        });
    //                    }
    //                });
    //            });
    //        }
    //    });
    //    $('#danhsach').empty();
    //    $('#danhsach').append($text);
    //    $('div#ListPrint').printElement({ overrideElementCSS: ['/Content/print_table.css'] });
    //    $('#ListPrint').hide();
    //});

    $('#Submit').button();
    $('#Report').button();

</script>

<div id="ListPrint">
    <p id="info"></p>
    <div id="danhsach"></div>
</div>
