@model  IEnumerable<string[]>
@{
    ViewBag.Title = "Xem danh sách môn theo đợt";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "SubjectsOfSessions", FormMethod.Post, new { @id = "FilterForm" }))
{
    <p>

        <p>
            Đợt: @Html.DropDownList("Dot", ViewBag.Dot as SelectList, Mvc_ESM.Settings.Page.Settings.SelectAllString, new { id = "DotList" })
            <input type="submit" value="Thực hiện" />
        </p>

    </p>
}

@Html.Partial("_DataTable.Lib")
@Html.Partial("_DataTable.Printer.Lib")

<table id="table">
    <thead>
        <tr>
            <th>Mã môn học            </th>
            <th>Tên môn học            </th>
            <th>Nhóm            </th>
            <th>Ngày thi            </th>
            <th>Giờ thi            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td>@m[0]</td>
                <td>@m[1]</td>
                <td>@m[2]</td>
                <td>@m[3]</td>
                <td>@m[4]</td>
                <td>
                    <button id="Deletebtn" value="@(m[0] + "_" + m[2])">Xóa</button>
                </td>
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var oTable = $('#table').dataTable({
            @Html.Partial("_DataTable.Printer")
            "aoColumnDefs": [
            { "bSortable": false, "aTargets": [1] },
            { "bSortable": false, "aTargets": [4] },
            ],
            @Html.Partial("_DataTable")
        });

        $('#table tbody td button#Deletebtn').button({
            icons: {
                primary: "ui-icon-trash"
            }
        }).live('click', function () {
            var sid = $(this).attr("value");
            var aDialog = $("#dialog-confirm");
            var ok = false;
            aDialog.removeAttr("style");
            aDialog.dialog({
                resiable: false,
                modal: true,
                buttons: {
                    "Xóa": function () {
                        $.post("/SubjectsOfSessions/Delete", "id=" + sid, function (data) {
                            aler(data);
                            if (data == "Xoá thành công!") {
                                //var row = $('#table tbody td button#Deletebtn').parent().parent();
                                //if (row.length !== 0) {
                                //    oTable.fnDeleteRow(row[0]);
                                //}
                                window.location = "@Url.Action("Index", "SubjectsOfSessions")";
                            }
                        });
                        $(this).dialog("close");
                    },
                    "Không": function () {
                        $(this).dialog("close");
                    }
                }
            });
        }).parent().attr('align', 'center');
        new FixedHeader(oTable);
    });
</script>


<div id="dialog-confirm" title="Xóa dữ liệu?" style="visibility: hidden">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Bạn có muốn xoá dữ liệu này không?</p>
</div>
